name: valgrind

concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:

env:
  python3_version: '3.x'
  build-type: debug
  artifact-tag: ubuntu-gcc
  artifact-name: Surelog_ubuntu-gcc_debug_${{ github.run_number }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install Core Dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -y \
          g++-11                \
          default-jre           \
          cmake                 \
          build-essential       \
          uuid-dev              \
          ninja-build           \
          valgrind

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.python3_version }}
        architecture: 'x64'

    - name: Setup Python Packages
      run: pip3 install orderedmultidict

    - name: Git Pull
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Use ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.repository }}-${{ github.workflow }}

    - shell: bash
      run: |
        echo 'CC=gcc-11' >> $GITHUB_ENV
        echo 'CXX=g++-11' >> $GITHUB_ENV
        echo 'PATH=/usr/lib/ccache:'"$PATH" >> $GITHUB_ENV

    - name: Build on Linux
      shell: bash
      run: |
        env
        which cmake && cmake --version
        which java && java -version
        which python && python --version
        which ninja && ninja --version
        which $CC && $CC --version
        which $CXX && $CXX --version

        cmake -G Ninja                        \
          -DCMAKE_BUILD_TYPE=Debug            \
          -DPython3_ROOT_DIR=$pythonLocation  \
          -DWITH_STATIC_CRT=0                 \
          -DCMAKE_INSTALL_PREFIX=out/install  \
          -S . -B out/build

        cmake --build out/build -j `nproc`
        cmake --install out/build
          
    - name: Prepare artifacts
      if: always()
      run: |
        cp deploy/CMakeLists.txt out/install/.
        cd out

        mv install/lib install/${{ env.artifact-tag }}_${{ env.build-type }}
        mkdir install/lib
        mv install/${{ env.artifact-tag }}_${{ env.build-type }} install/lib/.

        mv install/bin install/${{ env.artifact-tag }}_${{ env.build-type }}
        mkdir install/bin
        mv install/${{ env.artifact-tag }}_${{ env.build-type }} install/bin/.

        mv install ${{ env.artifact-name }}
        tar czfp ${{ env.artifact-name }}.tar.gz ${{ env.artifact-name }}

    - name: Archive artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.artifact-name }}
        path: out/${{ env.artifact-name }}.tar.gz

  regression:
    name: "Regression | ubuntu-gcc | ${{ matrix.shard }}"
    runs-on: ubuntu-latest
    needs: build

    env:
      regression-artifact-name: Surelog_regression_ubuntu-gcc_debug_${{ github.run_number }}_${{ matrix.shard }}

    strategy:
      fail-fast: false
      matrix:
        num_shards: [6]
        shard: [0, 1, 2, 3, 4, 5]

    steps:
    - name: Install Core Dependencies
      run: |
        sudo apt-get update -qq
        sudo apt-get install -y valgrind

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.python3_version }}
        architecture: 'x64'

    - name: Setup Python Packages
      run: pip3 install orderedmultidict psutil build

    - name: Git Pull
      uses: actions/checkout@v4

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.artifact-name }}

    - name: Extract artifact
      shell: bash
      run: |
        # This has to be a separate step and run under bash since tar on Windows
        # still doesn't support symlink and the root repository folder is a symlink.
        tar xzfp ${{ env.artifact-name }}.tar.gz
        mv ${{ env.artifact-name }} build
        rm ${{ env.artifact-name }}.tar.gz

    - name: Run valgrind regression tests
      run: |
        python3 scripts/regression.py run                                         \
          --build-dirpath build/bin/${{ env.artifact-tag }}_${{ env.build-type }} \
          --surelog-filepath surelog                                              \
          --output-dirpath ../../regression                                       \
          --tool valgrind                                                         \
          --jobs $(nproc)                                                         \
          --num_shards=${{ matrix.num_shards }}                                   \
          --shard=${{ matrix.shard }}

    - name: Prepare regression artifacts
      if: always()
      run: |
        ls -l build
        cd build
        ls -l regression
        mv regression ${{ env.regression-artifact-name }}
        find ${{ env.regression-artifact-name }} -name "*.tar.gz" | tar czfp ${{ env.regression-artifact-name }}.tar.gz -T -

    - name: Archive artifacts
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.regression-artifact-name }}
        path: build/${{ env.regression-artifact-name }}.tar.gz
